{% extends "base.html"%}
{% load crispy_forms_tags %}
{% block title %} Modificar elemento {% endblock %}
{%block content %}
<br>
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">

            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                papu hay un problema
            </div>
            {% endif %}
            &nbsp;
            <h2>&nbsp;&nbsp; Adicionando cantidad de: {{info}}</h2>
            <hr>
            <div class="card-body">                
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if mensaje %}
                    <div class="alert alert-success" role="alert">
                        se logro papu
                    </div>
                    {% endif %}
                    Cantidad actual de elementos: {{actual}}
                    {{ form|crispy }}
                    <br>
                    <div class="d-flex justify-content-center">
                        <input type="reset" value="Limpiar" class="btn btn-secondary">
                        &nbsp;
                        <input id="id_btn" type="submit" value="Guardar" class="btn btn-primary">
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
{%endblock%}