{% load filter%}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Resultados: {{date}}</title>
    <link rel="icon" href="https://virtual.unipiloto.edu.co/pluginfile.php/1/theme_unipiloto/favicon/1663786604/favicon.ico" />
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<style>
    .fecha {
        text-align: right;
    }
    .logo{
        position: fixed;
        text-align: center;
    }
    .center{
        text-align: center;
        font-size: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .roundedTable th, td {
        text-decoration: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(0, 0, 0);
        padding: 1px;
        text-align:center;
    }

</style>
<body>
    {% comment %} zona testing {% endcomment %}


    {% comment %} zona testing {% endcomment %}
    <p class="fecha">Fecha de creación: {{ date }}, {{time}}</p>
    <div>
        <img src="{{path}}\logo.png" width="50" height="50" class="logo"><p class="center">El Dorado</p>
    </div>
    <hr>
    <H1 class="center">
        Tabla General
    </H1>
    <table border="1" class="roundedTable">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Categoria</th>
            <th>Unidades</th>
            {% comment %} <th>Fecha de modificación reciente</th>
            <th>Fecha de vencimiento proxima</th> {% endcomment %}
            <th>Stock Min</th>
            <th>Stock Max</th>
        </thead>
        <tbody>
            {% for producto in producto %}
            <tr>
                <td>{{producto.id_producto}}</td>
                <td>{{producto.nombre_descripcion}}</td>
                {% observerNumber producto.cantidad producto.stock_minimo producto.stock_maximo%}
                <td>{{producto.categoria_producto | transform_categoria}}</td>
                <td>{{producto.unidades  | transform_unidades }}</td>
                <td>{{producto.stock_maximo}}</td>
                <td>{{producto.stock_minimo}}</td>
            </tr>
            {% endfor %}
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>{{suma_cantidad}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
        </tbody>
    </table>
    <pdf:nextpage/>
    <h2 class="center">Análisis general</h2>    

    <table border="1" class="roundedTable">
        <thead>
            <th>Total productos</th>
            <th>Mayor cantidad de los productos: {{max_number}}</th>
            <th>Menor cantidad de los productos: {{min_number}}</th>
            <th>Producto(s) tipo alimentos: {{all_cat1|length}}</th>
            <th>Producto(s) tipo bebidas: {{all_cat2|length}}</th>
            <th>Producto(s) tipo limpieza: {{all_cat3|length}}</th>
            <th>Producto(s) tipo "otros": {{all_cat4|length}}</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{producto | length}} productos
                </td>
            
                <td>
                    {% for productos in productos %}
                        {% for max_number_info in max_number_info%} 
                            {%if productos.id_producto == max_number_info.producto_id%}
                                <p>
                                    Producto: {{productos.nombre_descripcion}}, con una cantidad de: {{max_number_info.cantidad_productos}} {{productos.unidades  | transform_unidades }}
                                </p>
                            {%endif%}
                        {%endfor%}
                    {%endfor%}
                </td>


                <td>
                    {% for productos in productos %}
                        {% for min_number_info in min_number_info%} 
                            {%if productos.id_producto == min_number_info.producto_id%}
                                <p>
                                    Producto: {{productos.nombre_descripcion}}, con una cantidad de: {{min_number_info.cantidad_productos}} {{productos.unidades  | transform_unidades }}
                                </p>
                            {%endif%}
                        {%endfor%}
                    {%endfor%}
                </td>
                
                <td>
                    {% if all_cat1 %}
                    {% for all_cat1 in all_cat1 %} 
                        <p>
                            {{all_cat1.nombre_descripcion}}
                        </p>
                    {% endfor %}
                    {% else %}
                        <p>
                            No hay productos de esta categoría
                        </p>
                    {% endif %}
                </td>
                
                <td>
                    {% if all_cat2 %}
                    {% for all_cat2 in all_cat2 %} 
                        <p>
                            {{all_cat2.nombre_descripcion}}
                        </p>
                    {% endfor %}
                    {% else %}
                        <p>
                            No hay productos de esta categoría
                        </p>
                    {% endif %}
                </td>
                
                <td>
                    {% if all_cat3 %}
                    {% for all_cat3 in all_cat3 %} 
                        <p>
                            {{all_cat3.nombre_descripcion}}
                        </p>
                    {% endfor %}
                    {% else %}
                        <p>
                            No hay productos de esta categoría
                        </p>
                    {% endif %}
                </td>
                
                <td>
                    {% if all_cat4 %}
                    {% for all_cat4 in all_cat4 %} 
                        <p>
                            {{all_cat4.nombre_descripcion}}
                        </p>
                    {% endfor %}
                    {% else %}
                        <p>
                            No hay productos de esta categoría
                        </p>
                    {% endif %}
                </td>
                
            </tr>
        </tbody>
    </table>
    <table border="1" class="roundedTable">
        <thead>
            <th>Productos a vencer: {{por_caducar | length}}</th>
            <th>Productos vencidos: {{vencidos | length}}</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% if por_caducar %}
                    {% for por_caducar in por_caducar %} 
                        <p>
                            {{por_caducar}}
                        </p>
                    {% endfor %}
                    {% else %}
                        <p>
                            No hay productos por caducar
                        </p>
                    {% endif %}
                </td>
                <td>

                    {% if vencidos %}
                    {% for vencidos in vencidos %} 
                        <p>
                            {{vencidos}}
                        </p>
                    {% endfor %}
                    {% else %}
                        <p>
                            No hay productos vencidos
                        </p>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <h2  class="center">Gráfico de cantidades de acuerdo a la categoria</h2>
    <img src="{{path}}\grafico.png" width="250" height="250" class="logo"><p class="center">
    <h2  class="center">Gráfico de cantidades de acuerdo por producto</h2>
    <img src="{{path}}\grafico2.png" width="500" height="400" class="logo"><p class="center">
    </body>
    <pdf:nextpage/>
    <h1 class="center">Detalles por cada producto</h1>
    {% for producto in producto %}
    <H2 class="center">
        Detalles del producto: {{producto.nombre_descripcion}}
    </H2>
        <table border="1" class="roundedTable">
            <thead>
                <th>ID</th>
                <th>Cantidad</th>
                <th>Fecha Modificación</th>
                <th>Fecha de vencimiento</th>
                <th>Peso/u</th>
                <th>Proveedor</th>
                <th>Dirección P.</th>
                <th>Número contacto P.</th>
            </thead>
            <tbody>
                {% for info in info%} 
                {%if producto.id_producto == info.producto_id%}
                    <tr>
                        <td>&nbsp;{{info.id}}</td>
                        <td>&nbsp;{{info.cantidad_productos}}</td>
                        <td>&nbsp;{{info.fecha_modificacion}}</td>
                        {{info.fecha_vencimiento | calcular_vencimiento}}
                        <td>&nbsp;{% sumatoriaUnidades info.peso_unidad producto.unidades producto.categoria_producto %}</td>
                        <td>&nbsp;{{info.proveedor}}</td>
                        <td>&nbsp;{{info.direccion_proveedor}}</td>
                        <td>&nbsp;{{info.numero_proveedor}}</td>
                {%endif%}
                    </tr>          
            {% endfor %}
                    <td>Total</td>
                    {% observerNumber producto.cantidad producto.stock_minimo producto.stock_maximo%}
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{% sumatoriaUnidades producto.cantidad_peso producto.unidades producto.categoria_producto %}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
            </tbody>
        </table>
        <pdf:nextpage/>
    {% endfor%}
</html>


