{% load filter%}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Resultados: {{date}}</title>
    <link rel="icon" href="https://virtual.unipiloto.edu.co/pluginfile.php/1/theme_unipiloto/favicon/1663786604/favicon.ico" />
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<style>
    .fecha {
        /* display: flex; */
        text-align: right;
    }
    .logo{
        position: fixed;
        text-align: center;
        float: none !important;
    }
    .center{
        text-align: center;
        font-size: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .roundedTable th, td {
        text-decoration: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(0, 0, 0);
        padding: 1px;
        text-align:center;
    }
</style>
<body>
    <p class="fecha">Fecha de creación: {{ date }}, {{time}}</p>
    <div>
        <img src="{{path}}\logo.png" width="50" height="50" class="logo"><p class="center">El Dorado</p>
    </div>
    <hr>
    <H2 class="center">
        Tabla General
    </H2>
    <table border="1" class="roundedTable">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Proveedor</th>
            <th>Contacto</th>
            <th>Cantidad</th>
            <th>Categoria</th>
            <th>Peso/u</th>
            <th>Unidad de proveedor</th>
            <th>Fecha de modificación</th>
            <th>Fecha de vencimiento</th>
            <th>Stock Min</th>
            <th>Stock Max</th>
        </thead>
        <tbody>
            {% for informacion in informacion %}
            <tr>
                <td>{{informacion.id}}</td>
                <td>{{informacion.nombre_descripcion}}</td>
                <td>{{informacion.proveedor}}</td>
                <td>{{informacion.numero_proveedor}}</td>
                <td>{{informacion.cantidad_productos}}</td>
                <td>{{informacion.categoria_producto | transform_categoria}}</td>
                <td>{% conversion_g_a_kg informacion.peso_unidad informacion.unidades informacion.categoria_producto %}</td>
                <td>{{informacion.unidades | transform_unidades}}</td>
                <td>{{informacion.fecha_modificacion}}</td>
                {{informacion.fecha_vencimiento|calcular_vencimiento}}
                <td>{{informacion.stock_minimo}}</td>
                <td>{{informacion.stock_maximo}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2 class="center">Analisis de datos</h2>

    <table border="1" class="roundedTable">
        <thead>
            <th>Total productos</th>
            <th>Mayor cantidad de los productos</th>
            <th>Menor cantidad de los productos</th>
            <th>Conjuntos de producto tipo alimentos</th>
            <th>Conjuntos de producto tipo bebidas</th>
            <th>Conjuntos de producto tipo limpieza</th>
            <th>Conjuntos de producto tipo otros</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    Hay un total de: {{total}} productos
                </td>
            
                <td>
                    Cantidad mayor de los productos: {{max}}
                </td>
                
                <td>
                    Cantidad menor de los productos: {{min}}
                </td>
                
                <td>
                    Hay una cantidad de {{all_cat1|length}} productos las cuales son las siguientes:
                        <p>
                            {% for all_cat1 in all_cat1 %} {{all_cat1.nombre_descripcion}}, {% endfor %}
                        </p>
                </td>
                
                <td>
                    Hay una cantidad de {{all_cat2|length}} productos las cuales son las siguientes:
                        <p>
                            {% for all_cat1 in all_cat2 %} {{all_cat1.nombre_descripcion}}, {% endfor %}
                        </p>
                </td>
                
                <td>
                    Hay una cantidad de {{all_cat2|length}} productos las cuales son las siguientes:
                        <p>
                            {% for all_cat1 in all_cat3 %} {{all_cat1.nombre_descripcion}}, {% endfor %}
                        </p>
                </td>
                
                <td>
                    Hay una cantidad de {{all_cat4|length}} productos las cuales son las siguientes:
                        <p>
                            {% for all_cat1 in all_cat4 %} {{all_cat1.nombre_descripcion}}, {% endfor %}
                        </p>
                </td>
                
            </tr>
        </tbody>
    </table>
    
</body>
</html>


