{% extends "base.html"%}
{% load filter%}
{% block title %} Listado Completo {% endblock %}

{%block content %}

<style>
.table-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selects{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

select{
    padding: .5rem;
    margin: .5rem;
    border: none;
    border-radius: 10px;
}

.Agregar-proveedor{
    padding: .5rem;
    margin: .5rem;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    text-decoration: none;
}

.texto-agregar{
    color: #000000;
    text-decoration: none;
}

.buscador_producto{
    padding: .5rem;
    margin: .5rem;
    border: none;
    border-radius: 10px;
    width: 500px;
}


</style>

  <body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">

                <div class="title" >
					<h2>Manejo de <b>Proveedores</b></h2>
				</div>

                &nbsp;
                <div class="selects">
                    <input class="buscador_producto" type="search" placeholder="Buscar proveedor..." id="searchTerm" data-target="mi-tablaXD" onkeyup="doSearch()" onchange="doSearch()">
                </div>

                <div class="selects"> 
                    <div class="Agregar-proveedor">
                        <a class="texto-agregar" href="http://127.0.0.1:8000/agregar_proveedor/">Agregar nuevo proveedor</a>
                    </div>
                </div>
            </div>
            <table id="mi-tablaXD" class="table table-striped table-hover" style="text-align: center;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre entidad</th>
                        <th>Número de contacto</th>
						<th>Correo de contacto</th>
                        <th>Dirección</th>
                        <th>Días estimados de entrega de productos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {%for proveedor in proveedores %}
                <!--Aqui se agrega la clase de la categoria al hijo de la tabla-->
                    <tr> 
                        <td>{{proveedor.id}}</td>
                        <td>{{proveedor.nombre_proveedor}}</td>
                        <td>{{proveedor.numero_proveedor}}</td>
                        <td>{{proveedor.correo_proveedor}}
                        <td>{{proveedor.direccion_proveedor}}</td>
                        <td>{{proveedor.dias_entrega_general}} días habiles</td>
                        <td>
                            <a href="http://127.0.0.1:8000/modificarProveedor/{{proveedor.id}}"><i style="color: #FFC107;" class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                            <a onclick="eliminarProveedor({{proveedor.id}})"><i style="color: #F44336;" class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i></a>   
                        </td>
                    </tr>
                {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>

</body>
<script>

    function doSearch(){

        const tableReg = document.getElementById('mi-tablaXD');
    
        const searchText = document.getElementById('searchTerm').value.toLowerCase();
        let total = 0;
        // Recorremos todas las filas con contenido de la tabla
        for (let i = 1; i < tableReg.rows.length; i++) {
            let found = false;
            const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
            // Recorremos todas las celdas
            for (let j = 0; j < cellsOfRow.length && !found; j++) {
                const compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                // Buscamos el texto en el contenido de la celda
                if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
                    found = true;
                    total++;
                }
            }
            if (found) {
                tableReg.rows[i].style.display = '';
            } else {
                // si no ha encontrado ninguna coincidencia, esconde la
                // fila de la tabla
                tableReg.rows[i].style.display = 'none';
            }
        }
        // mostramos las coincidencias
        const lastTR=tableReg.rows[tableReg.rows.length-1];
        lastTR.classList.remove("hide", "red");
        if (searchText == "") {
            lastTR.classList.add("hide");
        } else {
            lastTR.classList.add("red");
        }
    }
    

function eliminarSubProductos(id){
    console.log(id)
    Swal.fire({
        title: '¿Estas seguro de eliminar este producto?',
        text: "No podras revertir esta accion",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, eliminar',
        cancelButtonText: 'Cancelar',
        reversebuttons: true
    })
    .then(function(result){
        if(result.isConfirmed){
            window.location.href = "http://127.0.0.1:8000/eliminarSubProducto/" + id + "/";
        }
    })
}

function eliminarProveedor(id){
        console.log(id)
        Swal.fire({
            title: '¿Estas seguro de eliminar este proveedor?',
            text: "No podras revertir esta accion",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Si, eliminar',
            reverseButtons: true
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "http://127.0.0.1:8000/eliminarProveedor/" + id + "/";
            }
        })
    }

//aplicacion de conjuntos mediante filtros

    function manejadorCategorias(){  // Funcion para manejar el filtro de categorias
        const value = document.getElementById("XDXD").value; // Obtenemos el valor del select
        const table = document.querySelectorAll('#mi-tablaXD>tbody>tr');  // Obtenemos todas las filas de la tabla
       
        for (const tr of table) {  // Recorremos todas las filas

            if(value != 0){  // Si el valor del select es diferente de 0
                if (tr.classList.contains(value)) {  // Si la fila contiene la clase del valor del select
                    tr.style.display = '';  // Mostramos la fila
                } else {  // Si no 
                    tr.style.display = 'none';  // Ocultamos la fila
                }  
            }else{
                tr.style.display = '';  // Si el valor del select es 0, mostramos todas las filas
            }   
        }
    }

</script>

{%endblock%}