{% extends "base.html"%}
{% load filter%}
{% load static %}

{% block title %} Resultado {% endblock %}
{%block content %}
<style>
/*:::Boton-Modal:::*/
.boton-modal label{
    padding: 10px 15px;
    /* background-color: #5488a3; */
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
/*:::Fin Boton-Modal:::*/

/*:::Ventana Modal:::*/
#btn-modal{
    display: none;
}
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(108, 108, 108, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal{
    display: flex;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}

.content-modal:hover{
    color:black;
}

.content-modal h2{
    margin-bottom: 15px;
    color: black;
}

.content-modal p{
    padding: 15px 0px;
    color: black;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background: rgb(213,175,0);
    background: linear-gradient(74deg, rgba(213,175,0,1) 0%, rgba(253,187,45,1) 100%);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal .btn-cerrar label:hover{
    background-color:#185E83;
}

.cerrar-modal{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}

@media screen and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
}

body{
    margin: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(-45deg, #f4eeed, #cbc7c8, #87898a, #e1e1e1);
	background-size: 400% 400%;
	animation: gradiente 15s ease infinite;
}

@keyframes gradiente {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

table tbody tr:nth-child(even){
    background: #ffff;
}

th.resaltar{
    cursor: default;
    background: #F5DD5D;
    color: rgb(0, 0, 0);
}

</style>
&nbsp;
<div style="text-align: center;">
        <table id="mi-tablaXD" border="1" style="margin: 0 auto" class="roundedTable">
            <thead>
                <tr title="Organiza de mayor a menor o lo contrario">
                    <th>ID</th>
                    <th>Nombre y descripción</th>
                    <th>Cantidad</th>
                    <th>Categoria</th>
                    <!-- <th>Distribuidor</th> -->
                    <!-- <th>Unidad de medida</th> -->
                    <th>Fecha de modificación</th>
                    <th>Fecha de vencimiento</th>
                    <!-- <th>Stock Minimo</th> -->
                    <!-- <th>Stock de reserva</th> -->
                    <!-- <th>Stock Maximo</th> -->
                    <th>Editar</th>
                </tr>    
            </thead>
            <tbody>
            {% for info in info %}
            <tr>
                <td>{{info.id}}</td>
                <td>{{info.nombre_descripcion}}</td>
                <td>{{info.cantidad_productos}}</td>
                <td>{{info.categoria_producto}}</td>
                <!-- <td>{{info.proveedor}}</td> -->
                <!-- <td>{{info.unidades}}</td> -->
                <td>{{info.fecha_modificacion}}</td>
                {{info.fecha_vencimiento|calcular_vencimiento}}
                <!-- <td>{{info.stock_minimo}}</td> -->
                <!-- <td>{{info.stock_reserva}}</td> -->
                <!-- <td>{{info.stock_maximo}}</td> -->
                <td><a href="#" title="Editar {{info.nombre_descripcion}}">
                    <!--Boton-->
                    <div class="boton-modal">
                        <label for="btn-modal"><img src="../static/edit2.png" style="width: 40px;"> </label>
                    </div>
                <!--Fin de Boton-->
                <!--Ventana Modal-->
                    <input type="checkbox" id="btn-modal">
                    <div class="container-modal">
                        <div class="content-modal">
                            <h2>¡Bienvenido!</h2>

                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, nostrum!</p>
                            <div class="content-modal">
                                <a href="youtube.com">
                                    XD
                                </a>
                            </div>
                            <div class="btn-cerrar">
                                <label for="btn-modal">Cerrar</label>
                            </div>
                        </div>
                        <label for="btn-modal" class="cerrar-modal"></label>
                    </div>
                <!--Fin de Ventana Modal-->
                </a></td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
</div>
&nbsp;

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://mottie.github.io/tablesorter/js/jquery.tablesorter.js"></script>

<script>
    $(this).click(function() {
                    $(function(){
                    $('#mi-tablaXD').tablesorter(); 
                    });
                });
        $(document).ready(() => {
            $('th').each(function(columna) {
                $(this).hover(function() {
                    $(this).addClass('resaltar');
                }, function() {
                    $(this).removeClass('resaltar');
                });
                $(this).click(function() {
                    $(function(){
                    $('#mi-tablaXD').tablesorter(); 
                    });
                });
            });
        });
</script>
    {%endblock%}