{% extends "base.html"%}
{% load filter%}
{% block title %} Listado Completo {% endblock %}

{%block content %}

<style>
.table-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selects{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

select{
    padding: .5rem;
    margin: .5rem;
    border: none;
    border-radius: 10px;
}
</style>

  <body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                    <div class="title" >
						<h2>Manejo de <b>Productos</b></h2>
					</div>

                <div class="selects"> 
                    <select id="XDXD" onchange="manejadorCategorias()" >
                        <option value="0">Categorizar productos</option>
                        {% for info in '12345' %}
                        <option id="{{info}}" value="{{info}}">{{info|transform_categoria}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <table id="mi-tablaXD" class="table table-striped table-hover" style="text-align: center;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
						<th>Categoria</th>
                        <th>Unidad de proveedor</th>
                        <th>Stock Minimo</th>
                        <th>Stock Maximo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {%for producto in producto %}
                <!--Aqui se agrega la clase de la categoria al hijo de la tabla-->
                    <tr class="{{producto.categoria_producto}}"> <!--1. Alimentos | 2. Bebidas | 3. Limpieza | 4. Otros -->
                        <td>{{producto.id_producto}}</td>
                        <td>{{producto.nombre_descripcion}}</td>
                        {% observerNumber producto.cantidad producto.stock_minimo producto.stock_maximo%}
                        <td>{{producto.categoria_producto | transform_categoria}}</td>
                        <td>{{producto.unidades | transform_unidades}}</td>
                        <td>{{producto.stock_maximo}}</td>
                        <td>{{producto.stock_minimo}}</td>
                        <td>                       
                               &nbsp;<a data-bs-target="#previewProduct-{{forloop.counter}}" href="#previewProduct-{{forloop.counter}}" class="edit" data-bs-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        </td>
                    </tr>
                {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>

	<!-- Edit Modal HTML -->
    {%for producto in producto %}

	<div id="previewProduct-{{forloop.counter}}" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Detalles de {{producto.nombre_descripcion}}</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
					</div>
					<div class="modal-body">					
                        <table style="margin: 0 auto"  class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Cantidad</th>
                                    <th>Fecha Modificación</th>
                                    <th>Fecha de vencimiento</th>
                                    <th>Proveedor</th>
                                    <th>Modificar</th>
                                </tr>
                            </thead>
                            <tbody id="hola">
                                {% for info in info%} 
                                    {%if producto.id_producto == info.producto_id%}
                                        <tr>
                                            <td>{{info.id}}</td>
                                            <td>{{info.cantidad_productos}}</td>
                                            <td>{{info.fecha_modificacion}}</td>
                                            {{info.fecha_vencimiento | calcular_vencimiento}}
                                            <td>{{info.proveedor}}</td>
                                            <td>
                                                <a href="http://127.0.0.1:8000/modificar/{{info.id}}"><i style="color: #FFC107;" class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                                <a onclick="eliminarSubProductos({{info.id}})"><i style="color: #F44336;" class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i></a>                                            </td>
                                        </tr>
                                    {%endif%}
                                {% endfor %}
                            </tbody>
                        </table>			
					</div>
					<div class="modal-footer">
                        <a ><button type="button" onclick="eliminarProductoBase({{producto.id_producto}})" class="btn btn-danger" data-bs-dismiss="modal">Borrar</button></a>
                        <a href="http://127.0.0.1:8000/registrar/"><button type="button" class="btn btn-warning">Añadir</button></a>
                        <a href="http://127.0.0.1:8000/modificarbase/{{producto.id_producto}}"><button type="button" class="btn btn-primary">Editar base</button></a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
    {% endfor %}
</body>
<script>

function eliminarSubProductos(id){
    console.log(id)
    Swal.fire({
        title: '¿Estas seguro de eliminar este producto?',
        text: "No podras revertir esta accion",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, eliminar',
        cancelButtonText: 'Cancelar',
        reversebuttons: true
    })
    .then(function(result){
        if(result.isConfirmed){
            window.location.href = "http://127.0.0.1:8000/eliminarSubProducto/" + id + "/";
        }
    })
}

function eliminarProductoBase(id){
        console.log(id)
        Swal.fire({
            title: '¿Estas seguro de eliminar este producto?',
            text: "No podras revertir esta accion",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminar',
            cancelButtonText: 'Cancelar',
            reversebuttons: true
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "http://127.0.0.1:8000/eliminarBase/" + id + "/";
            }
        })
    }

//aplicacion de conjuntos mediante filtros

    function manejadorCategorias(){  // Funcion para manejar el filtro de categorias
        const value = document.getElementById("XDXD").value; // Obtenemos el valor del select
        const table = document.querySelectorAll('#mi-tablaXD>tbody>tr');  // Obtenemos todas las filas de la tabla
       
        for (const tr of table) {  // Recorremos todas las filas

            if(value != 0){  // Si el valor del select es diferente de 0
                if (tr.classList.contains(value)) {  // Si la fila contiene la clase del valor del select
                    tr.style.display = '';  // Mostramos la fila
                } else {  // Si no 
                    tr.style.display = 'none';  // Ocultamos la fila
                }  
            }else{
                tr.style.display = '';  // Si el valor del select es 0, mostramos todas las filas
            }   
        }
    }

</script>

{%endblock%}