{% extends "base.html"%}
{% load filter%}
{% block title %} Listado Completo {% endblock %}

{%block content %}

<style>

</style>
  <body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Manejo de <b>Productos</b></h2>
					</div>
                </div>
            </div>
            <table id="mi-tablaXD" class="table table-striped table-hover">
                <thead>
                    <tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
						<th>Categoria</th>
                        <th>Unidad de proveedor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{producto}}
                {%for producto in producto %}
                    <tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
						</td>
                        <td>{{producto.id_producto}}</td>
                        <td>{{producto.nombre_descripcion}}</td>
						<td>{{producto.cantidad}}</td>
                        <td>{{producto.categoria_producto | transform_categoria}}</td>
                        <td>{{producto.unidades | transform_unidades}}</td>
                        <td>                       
                               &nbsp;<a data-bs-target="#previewProduct-{{forloop.counter}}" href="#previewProduct-{{forloop.counter}}" class="edit" data-bs-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        </td>
                    </tr>
                {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>

	<!-- Edit Modal HTML -->
    {%for producto in producto %}
	<div id="previewProduct-{{forloop.counter}}" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Detalles de {{producto.nombre_descripcion}}</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
					</div>
					<div class="modal-body">					
                        <table style="margin: 0 auto"  class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Cantidad</th>
                                    <th>Fecha Modificación</th>
                                    <th>Fecha de vencimiento</th>
                                    <th>Proveedor</th>
                                    <th>Modificar</th>
                                </tr>
                            </thead>
                            <tbody id="hola">
                                {% for info in info%} 

                                    <tr id="{{info.producto_id}}">
                                        <td>{{info.id}}</td>
                                        <td>{{info.cantidad_productos}}</td>
                                        <td>{{info.fecha_modificacion}}</td>
                                        <td>{{info.fecha_vencimiento}}</td>
                                        <td>{{info.proveedor}}</td>
                                        <td><a href="http://127.0.0.1:8000/modificar/{{info.id}}"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a></td>
                                    </tr>

                                {% endfor %}
                            </tbody>
                        </table>			
					</div>
					<div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Borrar</button>
                        <input type="submit" class="btn btn-warning" value="Añadir">
                        <a href="http://127.0.0.1:8000/modificarbase/{{producto.id_producto}}"><button type="button" class="btn btn-primary">Editar base</button></a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
    {% endfor %}
</body>
<script>
//!TODO falta arreglar todas las funciones
function eliminarProducto(id){
        console.log(id)
        Swal.fire({
            title: '¿Estas seguro de eliminar este producto?',
            text: "No podras revertir esta accion",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminar',
            cancelButtonText: 'Cancelar',
            reversebuttons: true
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "http://127.0.0.1:8000/eliminar/" + id + "/";
            }
        })
    }

    //  Función para filtrar las fechas de vencimiento
    function manejadorVencimientos(){
        const value = document.getElementById("caducidad").value;
        const table = document.querySelectorAll("#mi-tablaXD>tbody>tr>td");

        for (const td of table){
            //rgb(252, 115, 3)

            if(td.hasAttribute('style')){
                
                if(value != "0"){
                    if(td.style.color === value){

                        td.parentElement.style.display = ""
                    }else{
                        td.parentElement.style.display = "none"
                    }
                }else{
                    td.parentElement.style.display = ""
                }
                
            }
               
        }


    }


    function manejadorCategorias(){
        const value = document.getElementById("XDXD").value;
        const table = document.querySelectorAll('#mi-tablaXD>tbody>tr');
       
        console.log(table)
        for (const tr of table) {

            if(value != 0){
                if (tr.classList.contains(value)) {
                    tr.style.display = '';
                } else {
                    tr.style.display = 'none';
                }
                console.log(tr.classList.contains(value))
                console.log(tr.classList.classList)
                console.log("value" + value)
            }else{
                tr.style.display = '';
            }
            
        }

    }


    $(this).click(function() {
                    $(function(){
                    $('#mi-tablaXD').tablesorter(); 
                    });
                });
        $(document).ready(() => {
            $('th').each(function(columna) {
                $(this).hover(function() {
                    $(this).addClass('resaltar');
                }, function() {
                    $(this).removeClass('resaltar');
                });
                $(this).click(function() {
                    $(function(){
                    $('#mi-tablaXD').tablesorter(); 
                    });
                });
            });
        });

        document.addEventListener('click', (e)=>{
                const $element = document.querySelector('#'+e.target.id)
                const $modal = document.querySelector('#exampleModalLabel')
                const $product = document.querySelector('#nombre_producto')
                if($element.nodeName.toLowerCase() === "button") $modal.textContent = $element.getAttribute("aria-label")
                if($element.nodeName.toLowerCase() === "img") $modal.textContent= $element.alt
                $('#url_modificar2').attr('onclick', 'eliminarProducto('+ e.target.id.split('_')[1] +')')
                $('#url_modificar').attr('href', 'http://127.0.0.1:8000/modificar/'+ e.target.id.split('_')[1]  )

                
            });


</script>

{%endblock%}