{% extends "base.html"%}
{% block title %} Calculo de materiales {% endblock %}
{% block content %}

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .operar{
        background-color: #f5f5f5;
        padding: 5px 50px;
        margin: auto;
        border-radius: 10px;
        border: 1px solid #000;
        display: block;
        justify-content: center;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .resultados{
        width: 300px;
        margin: auto;
        top: 420px;
        left: 525px;
        height: 33%;
        border-radius: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        box-shadow: 7px 13px 50px #000;
        background-color: #f5f5f5;
        padding: 30px;
    }
    .resultados h1{
        text-align: center;
    }
    .proceso{
        width: 750px;
        margin: auto;
        margin-top: 120px;
        height: 50%;
        border-radius: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        box-shadow: 7px 13px 50px #000;
        background-color: #f5f5f5;
        padding: 30px;
    }
    .proceso h2{
        text-align: center;
        margin-bottom: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .ecuacion{
        width: 100%;
        color: #000;
        text-align: center;
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .ecuacion input{
        width: 50px;
        height: 30px;
        border: 1px solid #000;
        border-radius: 5px;
        margin: .5rem 5px;
        text-align: center;
    }

    .ecuacion input::placeholder{
        color: rgb(161, 161, 161);
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

</style>

    <form action="/resultado/" method="GET">
    <div class="proceso">
        <h2>Calcular la cantidad de productos</h2>
        <div class="ecuacion">
            <p>
                Cordial saludo al sistema de creación de nuevos productos en base a otros productos,
                para esta sección es necesario definir los 3 nuevos tipos de productos: 
                <input type="text" name="p1" placeholder="p1"> 
                <input type="text" name="p2" placeholder="p2"> 
                <input type="text" name="p3" placeholder="p3">; hecho se requiere definir los 3 tipos de materiales que se aplicaran a los nuevos productos:
                <input type="text" name="m1" placeholder="m1">
                <input type="text" name="m2" placeholder="m2">
                <input type="text" name="m3" placeholder="m3">; una vez definido se requiere saber que materiales se utilizaran para cada producto:
            </p>
            <p>
                Producto 1: Utiliza:
                <input type="text" name="x1" placeholder="x1">,
                <input type="text" name="y1" placeholder="y1">
                <input type="text" name="z1" placeholder="z1">
            </p>
            <p>
                Producto 2: Utiliza:
                <input type="text" name="x2" placeholder="x2">,
                <input type="text" name="y2" placeholder="y2">
                <input type="text" name="z2" placeholder="z2">
            </p>
            <p>
                Producto 3: Utiliza:
                <input type="text" name="x3" placeholder="x3">,
                <input type="text" name="y3" placeholder="y3">
                <input type="text" name="z3" placeholder="z3">
            </p>
            Rellenado lo anterior, se debe definir la disponibilidad de los materiales en el inventario:
            <p>
                Material 1 <input type="text" name="n1" placeholder="n1"> &nbsp; Material 2 <input type="text" name="n2" placeholder="n2"> &nbsp; Material 3 <input type="text" name="n3" placeholder="n3">
            </p>
            Hecho y rellenado todos los pasos se pulsara el botón de operar
        </div>
        &nbsp;
        <input class="operar" type="submit" value="Operar">
    </div>
    </form>
{% endblock %}