{% extends "base.html"%}
{% load latexify %}
{% include 'latexify/stylesheets.html' %}
{% include "latexify/scripts.html" %}
{% block title %} Calculo de materiales {% endblock %}
{% block content %}

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .operar{
        position: fixed;
        background-color: #f5f5f5;
        padding: 5px 50px;
        margin: auto;
        border-radius: 10px;
        border: 1px solid #000;
        display: block;
        justify-content: center;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .resultados{
        width: 300px;
        margin: auto;
        top: 420px;
        left: 525px;
        height: 33%;
        position: fixed;
        border-radius: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        box-shadow: 7px 13px 50px #000;
        background-color: #f5f5f5;
        padding: 30px;
    }
    .resultados h1{
        text-align: center;
    }
    .proceso{
        width: 750px;
        margin: auto;
        margin-top: 20px;
        height: 50%;
        border-radius: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        box-shadow: 7px 13px 50px #000;
        background-color: #f5f5f5;
        padding: 30px;
    }
    .proceso h2{
        text-align: center;
        margin-bottom: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .ecuacion{
        width: 100%;
        color: #000;
        text-align: center;
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .ecuacion input{
        width: 50px;
        height: 30px;
        border: 1px solid #000;
        border-radius: 5px;
        margin: .5rem 5px;
        text-align: center;
    }

    .ecuacion input::placeholder{
        color: rgb(161, 161, 161);
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

</style>

    <form action="//" method="GET">
    <div class="proceso">
        <h2>Calcular la cantidad de productos</h2>
        <div class="ecuacion">
            <p>
                Se tuvo en cuenta que se creara los siguientes productos {{p1}}, {{p2}} y {{p3}}. Definido incluyendo los materiales que se utilizaran como lo son: {{m1}}, {{m2}} y {{m3}};
                incluyendo los materiales se utilizaran para cada producto: como viene siendo:
            </p>
            <p>
                (p1) {{p1}}: Utiliza {{x1}} de {{m1}}, {{x2}} de {{m2}} y {{x3}} de {{m3}}.
            </p>
            <p>
                (p2) {{p2}}: Utiliza {{y1}} de {{m1}}, {{y2}} de {{m2}} y {{y3}} de {{m3}}.
            </p>
            <p>
                (p3) {{p3}}: Utiliza {{z1}} de {{m1}}, {{z2}} de {{m2}} y {{z3}} de {{m3}}.
            </p>
            Rellenado lo anterior, se definio la disponibilidad de los materiales en el inventario:
            <p>
                {{m1}}: {{n1}} &nbsp;&nbsp; {{m2}}: {{n2}} &nbsp;&nbsp; {{m3}}: {{n3}}
            </p>
            Habiendo hecho el analisis de los materiales, se procedio a calcular la cantidad de productos que se podrian crear con los materiales disponibles, para ello se creo una sistema de ecuación líneal 3x3 quedando de la siguiente forma:
        </div>
        &nbsp;
        <div class="ecuacion">
            <p>
                {{x1}}x + {{y1}}y + {{z1}}z = {{n1}}
            </p>
            <p>
                {{x2}}x + {{y2}}y + {{z2}}z = {{n2}}
            </p>
            <p>
                {{x3}}x + {{y3}}y + {{z3}}z = {{n3}}
            </p>
        &nbsp;
        Si realizamos la operación de la ecuación líneal nos daran las siguientes incognitas:
        <p>
            x = {{resultadoX}} &nbsp;&nbsp; y = {{resultadoY}} &nbsp;&nbsp; z = {{resultadoZ}}
        </p>
        <p>
            Por lo tanto, la cantidad de productos que se podrian crear con los materiales disponibles son:
        </p>
        <p>
            {{p1}}: {{resultadoX}} &nbsp;&nbsp; {{p2}}: {{resultadoY}} &nbsp;&nbsp; {{p3}}: {{resultadoZ}}
        </p>
    </div>
    </form>

    {% for info in '1234567' %}
    &nbsp;
    {% endfor %}
{% endblock %}