{% extends "base.html"%}
{% load crispy_forms_tags %}
{% block title %} Modificar elemento {% endblock %}
{%block content %}

<br>
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">

            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                papu hay un problema
            </div>
            {% endif %}

            &nbsp;
            <h2>&nbsp;&nbsp;Registrar nuevo producto</h2>
            <hr>
            <div class="card-body">                
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if mensaje %}
                    <div class="alert alert-success" role="alert">
                        se logro papu
                    </div>
                    {% endif %}
                    {{ form|crispy }}
                    <br>
                    <div class="d-flex justify-content-center">
                        <input type="reset" value="Limpiar" class="btn btn-secondary">
                        &nbsp;
                        <input id="id_btn" type="submit" value="Guardar" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $formCantidad = document.querySelector("#id_cantidad_productos");
    $formStockMin = document.querySelector("#id_stock_maximo");
    $formStockMax = document.querySelector("#id_stock_minimo");
    $formBtn = document.querySelector("#id_btn");
    
    $formBtn.addEventListener("click", function (e) {
        e.preventDefault();
        // if(+$formStockMin.value > +$formCantidad.value){
        //     alert("El stock minimo no puede ser mayor a la cantidad de productos")
        // }else if(+$formCantidad.value > +$formStockMax.value){
        //     alert("la cantidad de productos no puede ser mayor a el stock maximo")
        // }else if (+$formStockMax.value < +$formStockMin.value){
        //     alert("El stock minimo no puede ser mayor a la cantidad de productos")
        // } else{
        //     document.querySelector("form").submit();
        // }
        document.querySelector("form").submit();

    });
    
    </script>

{% endblock %}