<header class="encabezado">
    <nav>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="../static/logo.png"></a>
        <ul>
            <li><a href="#">Información</a></li>
            <li>
                <a href="#">Productos</a>
                <ul>
                    <li><a href="#">Listado</a></li>
                    <li>
                        <a href="#">Modificar</a>
                        <ul>
                            <li><a href="#">Añadir</a></li>
                            <li><a href="#">Eliminar</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Nosostros</a></li>
            <li><a href="#">Recursos</a></li>
        </ul>
    </nav>
</header>